a:hover{
    color:#10fdff;
}

ul{
    font-family:'Bungee';
    list-style:none;
   
    margin:0;
    padding:0;
    
    font-size:2vw;
    display:flex;
    flex-direction:row;




}
li{
    float:right;
}
li a{
    display:block;
    padding:16px;
    text-align:center;
    color:#7944e6;
    text-decoration: none;
    

}

 body{
     text-align:center;
     background-color:white;
     font-family:'Bungee';
     font-size: 100%;
     margin: 0;
 }
 h1{
     text-align:left;
     font-size: 2em;
 }
.white-section{
    background-color: white;
    padding-top:auto;
    padding-left:50px;
    padding-bottom:auto;
    padding-right:50px;
}
.pink-section{
    background-color:#ff00ff;
    padding-top: 75px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
    
}
.img1{
    border: 5px solid #7944e6;
    max-width: 80%;
    height: auto;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 74px;
    margin-left:80px;
    margin-right:80px;
    margin-top: -100px;
    margin-bottom: -90px;
    width:100%;
}
    


.img2{
    border: 5px solid #7944e6;
    max-width: 80%;
    height: auto;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 74px;
    margin-left:80px;
    margin-right:80px;
    margin-top: -100px;
    margin-bottom: -91px;
    width:100%;
}
.img3{
    border: 5px solid #7944e6;
    max-width: 80%;
    height: auto;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 74px;
    margin-left:80px;
    margin-right:80px;
    margin-top: -100px;
    margin-bottom: -91px;
    width:100%;
}



a:link{
    text-decoration: none;
    
}


#view-menu{
    color: #7944e6;
    font-size: 1.5em;
}    

#section1{
    font-size: 2em;
}
#section2{
    font-size: 2em;
}
#section3{
    font-size: 2em;
}
header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;

}

@media screen and (min-width:768px){
    body{
        font-size:1vw;
    }
      .row{
          display:flex;
      }  
      .column{
          
          flex: 33.33%;
          flex-direction:column;
          
      }
}

